:root {
	--btn-bg: rgb(130, 130, 130);
	--btn-bg-disabled: rgb(180, 180, 180);
	--color-completed: rgb(50, 220, 0);
}

.App {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

input,
button {
	font-size: 1rem;
	padding: 0.5em 1em;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

input:focus,
button:hover {
	border: 1px solid rgba(0, 0, 0, 0.5);
}

button:not(:disabled) {
	cursor: pointer;
}

form {
	width: 100%;
	max-width: 40ch;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input {
	border-radius: 3px 0 0 3px;
	flex: 1;
}

form button {
	border-radius: 0 3px 3px 0;
	width: 12ch;
	font-weight: 600;
}

.todo {
	width: 100%;
	max-width: 40ch;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	padding: 0 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todo.completed {
	opacity: 0.6;
	background-color: rgb(245, 245, 245);
}

.todo .title {
	text-align: center;
	flex: 1;
}

.todo.completed .title {
	text-decoration: line-through;
	text-decoration-skip-ink: none;
	text-decoration-thickness: 0.1em;
	text-decoration-color: black;
}
